<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-sm-12">
                        <h2></h2>
                    </div>
                    <div class="text-left">
                        <input name="fileXls" id="fileXls" class="inputfile" (change)="incomingfile($event)" type="file" accept=".xlsx">
                        <label class="btn btn-danger btn-block" for="fileXls"><span class="fas fa-download">Cargar Archivo</span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="Temperatura">
                            <div class="list-group-item list-group-item-action active">Temperatura en Hermosillo</div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    {{ Temperatura }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div *ngIf="peorCalficiacion">
                            <div class="list-group-item list-group-item-action active">CALIFICACIÓN MENOR</div>
                            <ul class="list-group" *ngFor="let item of peorCalficiacion">
                                <li class="list-group-item">
                                    {{ item.Nombres + " " + item["Apellido Paterno"] + " " + item["Apellido Materno"] }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div *ngIf="mayorCalificacion">
                            <div class="list-group-item list-group-item-action active">CALIFICACION MAYOR</div>
                            <ul class="list-group" *ngFor="let item of mayorCalificacion">
                                <li class="list-group-item">
                                    {{ item.Nombres + " " + item["Apellido Paterno"] + " " + item["Apellido Materno"] }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div *ngIf="promedio">
                            <div class="list-group-item list-group-item-action active">PROMEDIO GENERAL</div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    {{ promedio }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="nombreTh">
                                        Nombre
                                    </th>
                                    <th class="apellidosTh">
                                        Apellido Paterno
                                    </th>
                                    <th class="apellidosTh">
                                        Apellido Materno
                                    </th>
                                    <th>
                                        Fecha de Nacimiento
                                    </th>
                                    <th>
                                        Grado
                                    </th>
                                    <th>
                                        Grupo
                                    </th>
                                    <th>
                                        Calificacion
                                    </th>
                                    <th>
                                        Password
                                    </th>
                                    <th>
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let r of readExcel">
                                    <td>{{r.Nombres}}</td>
                                    <td>{{r['Apellido Paterno']}}</td>
                                    <td>{{r['Apellido Materno']}}</td>
                                    <td>{{ r['Fecha de Nacimiento'] | date : "dd/MM/yyyy" }}</td>
                                    <td>{{r.Grado}}</td>
                                    <td>{{r.Grupo}}</td>
                                    <td>{{r.Calificacion}}</td>
                                    <td>{{r.Password}}</td>
                                    <td>
                                        <input id="inputP" type="button" class="btn btn-primary" (click)="rotatePassword(r.Password,RotacionN.value)" value="Generar">
                                    </td>
                                    <td>
                                        <input #RotacionN type="number" value="1" min:1 class="form-controls-text">
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="Graphic">
                            <div>
                                <div>
                                    <div style="display: block" *ngIf="barChartData">
                                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                                            </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>